.list_item.list_item {
    text-align: center;
    width: 12rem;
    color: rgba(8, 44, 77, 1);
    background-color: rgba(238, 243, 248, 1);
    border-radius: 2rem;
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list_item:focus {
    border: 1px solid rgba(19, 84, 147, 1) !important;
    outline: none; /* Добавляем outline: none, чтобы убрать стандартную обводку браузера */
}
