.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	min-height: inherit;
	@media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
    }
}

.item {
	display: flex;
	justify-content: left;
}

.button.button {
	display: flex;
	width: 300px;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 0.8rem 0.5rem;
	border-radius: 1.5rem;
	font-family: inherit;
	background-color: rgba(19, 84, 147, 1);
}

.img {
	max-width: 100%;
	object-fit: cover;
}
